.otp-section {
	border-bottom: 1px solid #ccc;
	width: 90%;
}

.not-recevied,
.otp-enter {
	font-size: 13px;
	font-weight: 600;
}

.otp-text {
	margin-top: 30px;
	font-weight: 600;

}

.header-text {
	font-weight: 700;
}
