<ion-app>
	<ion-menu side="start" content-id="main-content">
		<ion-header>
			<ion-toolbar color="primary">
				<ion-title>Menu</ion-title>
			</ion-toolbar>
		</ion-header>
		<ion-content>
			<ion-list lines="none">
				<ion-menu-toggle>
					<ion-item (click)="onLogout()" button>
						<ion-icon name="log-out" slot="start"></ion-icon>
						<ion-label>Logout</ion-label>
					</ion-item>
				</ion-menu-toggle>
			</ion-list>
		</ion-content>
	</ion-menu>
	<ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
