.first-name input::placeholder {
	font-size: 5px;
	color: hotpink;
}

.searchbar-foo .searchbar-input-container input::placeholder {
	font-size: 5px;
	color: rebeccapurple;
}

.enter-chat textarea::placeholder {
	font-size: 5px;
	color: orangered;
}
